<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <img class="portrait" src="/images/robot.png" height="300" />
        {{!-- <p>Created by <b>{{name}}</b></p> --}}
    </div>
    {{>footer}}
</body>

</html>